name: Artifacts

on:
  push:
    branches:
      - release
    paths: 
      - 'src/*'
      - 'Cargo.toml'
      - 'resources/*'

jobs:
  linux:
    name: Linux build (vulkan)

    runs-on: ubuntu-latest
    steps:
    - name: Get Package
      uses: mstksg/get-package@v1
      with:
        # dependencies found at https://github.com/amethyst/amethyst/blob/master/README.md#debianubuntu
        apt-get: gcc pkg-config openssl libasound2-dev cmake build-essential python3 libfreetype6-dev libexpat1-dev libxcb-composite0-dev libssl-dev libx11-dev
    - uses: actions/checkout@v2
    - name: Build release artifacts with vulkan backend
      run: cargo build --release --no-default-features --features vulkan
  
  windows:
    name: Windows build (vulkan)

    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2
    - name: Build release artifacts with vulkan backend
      run: cargo build --release --no-default-features --features vulkan
  
  macos:
    name: MacOS build (metal)
    runs-on: macos-latest
    
    steps:
      - uses: actions/checkout@v2
      - name: Build release artifacts with vulkan backend
        run: cargo build --release --no-default-features --features metal

# TODO: upload artifacts
